@page
@model WebApplication1.Pages.Reviews.IndexModel
@{
}
@{
    ViewData["Title"] = "Create, delete or edit a review";
}

<table class="table">
    <tbody class="tbody">
        <tr>
            <th>
                <h1 class="center">@ViewData["Title"]</h1>
            </th>
        </tr>
        <tr>
            <td class="td-spacing"><a asp-page="./Create" asp-route-id="@Model.MovieID">Create a review</a></td>
            <td class="td-spacing"><a asp-page="./Edit" asp-route-id="@Model.ReviewID">Edit your review</a></td>
            <td class="td-spacing"><a asp-page="./Delete" asp-route-id="@Model.ReviewID">Delete your review</a></td>
        </tr>
    </tbody>
</table>
<table class="table">
    <tbody class="tbody">
        @foreach (var review in Model.Reviews)
        {
            <tr>
                <td id="reviewText"><span class="bold">Review: </span> @review.Text</td>
            </tr>
            <tr>
                <td id="score"><span class="bold">Rating:</span> @review.Score</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}