@page
@model WebApplication1.Pages.Reviews.IndexModel
@{
}
@{
    ViewData["Title"] = "Create Review";
}

<h1>@ViewData["Title"]</h1>

<a asp-page="./Create" asp-route-MovieID="@Model.MovieID">Create a review</a>
<th><a asp-page="./Edit" asp-route-id="@Model.ReviewID">Edit your review</a></th>
<th><a asp-page="./Delete" asp-route-id="@Model.ReviewID">Delete your review</a></th>

<table>
    <tbody>
        @foreach (var review in Model.Reviews)
        {
            <tr>
                <td>@review.User.UserName</td>
                <td>@review.Text</td>
                <td>@review.Score</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}