@page
@model WebApplication1.Pages.Actors.DetailsModel
@{
}
    <table class="table">
        <tbody>
            <tr>
                <td><img class="actor-img" src="~/Posters/@Model.Actor.PosterPath" /></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Full name: @Model.Actor.FirstName @Model.Actor.LastName</td>
            </tr>
            <tr>
                <td>Age: @Model.Actor.Age</td>
            </tr>
        </tbody>
    </table>

<table class="actor-movies">
    <tbody>
        <tr>
            <td><h2>Movies</h2></td>
        </tr>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td><a asp-page="/Movies/Details" asp-route-id="@movie.ID">@movie.Title</a> </td>
            </tr>
        }
    </tbody>
</table>