@page
@model WebApplication1.Pages.Movies.DetailsModel
@{
}
<table>
    <tbody>
        <tr>
            <td><img class="img" src="~/Posters/@Model.Movie.PosterPath" /></td>
        </tr>
        <tr>
            <td>@Model.Movie.Title</td>
        </tr>
    </tbody>
</table>

<table>
    <tbody>
        @foreach (var actor in Model.Actors)
        {
        <tr>
            <td><a asp-page="/Actors/Details" asp-route-id="@actor.ID">@actor.FirstName @actor.LastName</a> </td>
        </tr>
        }
    </tbody>
</table>
<table>
    <tbody>
        @foreach (var review in Model.Reviews)
        {
        <tr>
            <td id="score">@review.Score</td>
            <td id="reviewText">@review.Text</td>
            <td id="reviewUser">@review.User.UserName</td>
        </tr>
        }
    </tbody>
</table>