@page
@using WebApplication.Models
@model WebApplication1.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Movies";
}
<h1 class="center">Movies</h1>

<form method="get">
    <table class="table">
        <tbody>
            <tr>
                <th><label for="SearchTerm">Search for movies</label></th>
                <td><input type="search" name="SearchTerm" id="SearchTerm" value="@Model.SearchTerm"></td>
                <td><button type="submit">Search</button></td>
            </tr>
        </tbody>
    </table>
</form>

<table class="table">
    @foreach (Movie movie in Model.Movies)
    {
        <tbody class="tbody">
            <tr>
                <td><img class="img" src="~/Posters/@movie.PosterPath" /></td>
                <td>@movie.AvgScore/5 &#9734 </td>
                <td><a asp-page="./Details" asp-route-id="@movie.ID">@movie.Title</a></td>
            </tr>
            <tr>
                <td><a asp-page="/Reviews/Index" asp-route-id="@movie.ID">Create, delete or edit a review</a></td>
            </tr>
        </tbody>
    }
</table>